@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #8a8a8a;
  --font-color-head: #5c6578;
  --font-weight: 200;
  --background-start-rgb: 224, 224, 224;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--font-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-weight: var(--font-weight);
}
h1 {
    color: var(--font-color-head);
    font-size: 25px;
}